.left-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 57px;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8px;
    z-index: 1000;
  }
  
  .logo-button {
    font-family: 'Inspiration', cursive;
    font-size: 40px;
    color: #FEDE00;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  
  .logo-button:hover {
    transform: scale(1.30);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }
  
  .ig-icon {
    margin-top: 170px;
  }
  
  .linkedin, .whatsapp, .facebook, .github, .leetcode {
    margin-top: 15px;
  }
  
  .left-nav a:hover {
    transform: scale(1.20);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  } 

  
  
